@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     body {
          @apply bg-black
     }
}

@layer components {
     .hoverAnimation {
          @apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4 transition duration-200 ease-out
     }
     .icon {
          @apply cursor-pointer w-9 h-9 flex items-center justify-center hover:bg-[#1d9bf0] rounded-full hover:bg-opacity-10 transition ease-out;
     }
}

